* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.6;

  background: #555;
}
