:root {
  --dp-text: #eee;
  --ds-text: #ddd;
  --dp-bg: #121212;
  --ds-bg: #343434;
  --dt-bg: #565656;
  --dq-bg: #787878;

  --dp: red;
  --ds: green;
  --da: blue;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.6;

  background: var(--dp-bg);
}
